* {box-sizing: border-box}
                                       /* Flex container for result from pots area (after delete) */
.flex-container-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(39, 39, 41, 0.322);
}
                                        /* Flex container for pots area */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
}
                                         /* Div container from pots area */
.test2{ text-align: center; margin: 0px 13px 0px 0px; padding: 6px 0px; }
/* Div Plants per m2 from pots area */
.permeter{
  text-align: center;
  margin: -3px 13px 0px 0px;
}
                                       /* Button Add and Save in pots area*/
.button{
    text-align: center;
    color: rgb(54, 54, 133);
    font-size: 25px;
}
.test1{
    text-align: center;  
    margin: 5px 13px 0px 0px;
}
                                        /* Select and input for pots area */
.input { width: 80px; height: 2px; border: 1px solid black; }
select {text-align-last:center; border: 1px solid black;}
                                                /* Start : Tab for head page */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(148, 148, 153);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
  }
                                                 /* finish : Tab for head page */

                                                 /* Start : Tab for settings page */ 
/* Style the tab */
.tab1 {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab1 button {
  box-sizing: border-box;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab1 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabconten {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
                                                      /* finish : Tab for settings page */
                                                      /* settings page */

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(40, 78, 148);
  color: white;
}

/* Style the header */
.header {
  background-color: rgb(40, 78, 148);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
