
                                       /* Flex container for result from pots area (after delete) */
.flex-container-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(39, 39, 41, 0.322);
}
                                        /* Flex container for pots area */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
}
                                         /* Div container from pots area */
.test2{ text-align: center; margin: 0px 13px 0px 0px; }
/* Div Plants per m2 from pots area */
.permeter{
  text-align: center;
  margin: -3px 13px 0px 0px;
}
                                       /* Button Add and Save in pots area*/
.button{
    text-align: center;
    color: rgb(54, 54, 133);
    font-size: 25px;
}
.test1{
    text-align: center;  
    margin: 5px 13px 0px 0px;
}
                                        /* Select and input for pots area */
input { width: 75px; height: 14px; }
select {text-align-last:center; }
                                                /* start : Tab for head page */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(148, 148, 153);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
                                                 /* finish : Tab for head page */
